# API keys and secrets
.env

# Dependency directory
node_modules
.cache/

# OS metadata
.DS_Store
Thumbs.db

#logs
logs
*.log
npm-debug.log*

#Take out images that are already committed in assets (and served from docs!)
static/
resources/
docs/*.jpg
docs/*.webp
docs/*.png