$theme-primary: #26a69a;
$theme-secondary: #64dd17;

$curviness: 16px;

@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Roboto+Slab');

.self-card {
  padding: 1rem;
  background-color: white;
  max-width: 960px;
  display: block;
  margin: auto;
  border-radius: $curviness;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  font-family: 'Roboto Slab', serif;
  background: transparent;
  color: $theme-primary;
  border: 1px solid $theme-primary;
  border-radius: $curviness / 4;
  text-transform: capitalize;
}

.resume-button {
  display: block;
  margin: auto;
  text-align: center;
}

//Project Boxes

.project {
  border: 1px solid $theme-primary;
  border-radius: $curviness / 2;
  padding: 8px 8px 8px 8px;
  flex: 1 0 275px;
  margin: 5px 5px;
}

.project-link {
  display: block;
  margin: auto;
  text-align: center;
}

.project-description {
  margin: 8px 8px;
}

.project-image {
  margin: auto;
  display: block;
  align-items: center;
  overflow: hidden;
  border-radius: $curviness / 4;
}

//Other stuff

.headshot{
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 33%
}

//Socials

.social {
  padding: 15px;
  font-size: calc(1rem + 2vh);
  width: calc(1rem + 2vh);
  text-align: center;
  text-decoration: none;
  margin: 0px 5px;
  background-color: $theme-primary;
  border-radius: 50%;
  color:white;
}

.social:hover {
    opacity: 0.7;
}

//Text

html {
  font-family: 'Roboto Slab', serif;
  background-color: $theme-primary;
  padding: 2rem 1rem;
  font-size: 16px;
}

h1{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: calc(1rem + 5vh);
  margin-bottom: 2rem;
}

h2{
  color: $theme-primary;
  font-size: calc(1rem + 2.5vh);
}

p, a, button {
  font-size: calc(1rem + 0.5vh);
}

