$mdc-theme-primary: #26a69a;
$mdc-theme-secondary: #64dd17;
$mdc-theme-on-primary: #000000;
$mdc-theme-on-secondary: #000000;

@import "@material/theme/mdc-theme";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/layout-grid/mdc-layout-grid";
@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Work+Sans:700');

.pop-button {
  @extend .mdc-button;

  @extend .mdc-theme--on-primary;
  //@extend .mdc-theme--primary-bg;
}



