<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ printf "%s | %s" .Title .Site.Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

	{{- $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/normalize-scss/sass/normalize")) }}
	{{- $options := (dict "transpiler" "dartsass" "enableSourceMap" true) }}
	{{- $css := resources.Get "sass/main.scss" | resources.ToCSS $options }}
	{{- $style := $css | resources.PostCSS -}}

	<!--link rel="stylesheet" href="{{ $style.RelPermalink }}"-->
	<style>{{ $style.Content | safeCSS }}</style>

	{{- with .Site.Params.stylesheet }}<link rel="stylesheet" href="/{{ . }}">{{- end }}
	{{- with .Site.Params.script }}<script defer src="/{{ . }}"></script>{{- end }}
	{{- with .OutputFormats.Get "RSS" }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	{{- with .Site.Params.analytics }}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168086255-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-168086255-1');
	</script>
	{{ end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
