{{ define "main" }}
	<main class="main-card">
		<button class="button--back">
			<a href="/">
				<i class="fas fa-arrow-left"></i>
				Back
			</a>
		</button>
		<article>
			{{ partial "picture" (dict "filename" .Params.image)}}
			<h1>{{ .Title }}</h1>
			<time><h3 class="text-center">{{ .Date.Format "January 2, 2006" }}</h3></time>
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
{{ end }}
