// External dependencies

@import "../node_modules/normalize-scss/sass/normalize";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"; // For footer logos
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"; // For resume logo

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

// Our imports

@import "elevation.scss";
@import "rainbow.scss";

// Variables

$theme-primary: #239e93;
$theme-secondary: #64dd17;

$higher-contrast: #1d8077;
$ultra-contrast: #15615a;

$gradient-1: #37ffc5;
$gradient-2: #35c0ff;
$gradient-3: #0090ff;
$gradient-angle: 135deg;

$main-font: 'IBM Plex Sans', sans-serif;
$terminal-font: 'IBM Plex Mono', monospace;
$ascii-font: 'Courier New', Courier, monospace;

$curviness: 8px;

$main-width: 900px;

// Typography

html {
    font-family: $main-font;
    background: rgb(55,255,197);
    background: linear-gradient(135deg, rgba(55,255,197,1) 0%, rgba(53,192,255,1) 65%, rgba(0,144,255,1) 100%); 
    font-size: 16px;
    min-height: 100%;
}

h1,
h2,
h3 {
    font-family: $main-font;
    font-weight: bold;
}

h1, h2 {
    color: $theme-primary;
}

h1 {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;
    font-size: 2rem;
}

a {
    color: $higher-contrast;
}

// Layout

body {
    margin: 0;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
}

.terminal {
    background-color: #051712;
    color: white;
    font-family: "IBM Plex Mono";
    font-size: 12px;
    border-radius: $curviness;
    padding:4px 4px 4px 8px;
    width: 600px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word; 
    @include BoxShadow(9);

    &__bar {
        margin: -4px -4px -4px -8px;
        background-color: #E4E3E6;
        display: flex;
        padding: 4px;
        justify-content: flex-end;
    }

    &__circle {
        height: 16px;
        width: 16px;
        display: block;
        border-radius: 50%;
        margin-left: 4px;
    
        &--green {
            @extend .terminal__circle;
            background-color: #2FE601;
        }
    
        &--yellow {
            @extend .terminal__circle;
            background-color: #FFFB00;
        }
    
        &--red {
            @extend .terminal__circle;
            background-color: #E60800;
        }
    
    }
}

.ascii {
    font-family: $ascii-font;
    margin: 0;
    font-size: min(16px, 2.5vw);
    @include Rainbow(10s);
    text-align:center;
    line-height: min(16px,2.5vw);
    white-space: pre;
}

.introduction {
    font-size: 16px;
}

.main-card {
    padding: 16px;
    background-color: white;
    max-width: $main-width;
    display: block;
    margin: auto;
    @include BoxShadow(3);
    margin-top: 32px;
    box-sizing: border-box;

    &--hero {
        @extend .main-card;
        margin-top: -32px;
    }
}

img {
    max-width: 100%;
}

.headshot {
    border-radius: 50%;
    width: 150px;
    margin: auto;
    margin-top: -(150px / 2 + 16px);
    display: block;
    @include BoxShadow(1);
}

.button {
    text-align: center;
    font-family: $main-font;
    background: white;

    border-radius: $curviness / 4;
    text-transform: capitalize;

    a {
        text-decoration: none;
        color: $higher-contrast;
        font-size: 16px;
    }

    :hover {
        opacity: 0.7;
    }

    &--resume {
        @extend .button;
        display: block;
        margin: 16px auto;
        border: 1px solid $theme-primary;
    }

    &--back {
        @extend .button;
        border: 0px;
        position: relative;
        padding: 8px 0 0 8px;

        a i {
            margin-right:8px;
        }
    }
}    
    

.projects-container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    margin-top: 16px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 8px;
    @include BoxShadow(2);
    border-radius: 4px;

    &-text {
        flex-grow: 1;
        height: 100%;

        &__title {
            text-decoration: none;
        }

        &__link {
            color: $theme-primary;
            text-decoration: none;
        }
    
        &__code-icon {
            padding-right: 0.25em;
        }
    }

    &__image {
        display:block;
        margin: auto;
        width: 50%;
        max-width: min(250px, 100%);
        border-radius: $curviness;
    } 

    
}

//Socials

footer{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 16px;
}

.social {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0px 5px;
    border-radius: 50%;
    color: white;

    &:hover {
        opacity: 0.8;
    }
}

.text-center {
    text-align: center
}


@media screen and (min-width: $main-width){
    .main-card {
        border-radius: $curviness;
    }
}