// External dependencies

@import "../node_modules/normalize-scss/sass/normalize";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"; // For footer logos
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"; // For hamburger bars

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

// Our imports

@import "elevation.scss";
@import "rainbow.scss";

// Variables

$theme-primary: #239e93;
$theme-secondary: #64dd17;

$gradient-1: #37ffc5;
$gradient-2: #35c0ff;
$gradient-3: #0090ff;
$gradient-angle: 135deg;

$font-paragraphs: "IBM Plex Sans", serif;
$font-headings: "IBM Plex Sans", sans-serif;

$curviness: 16px;

$main-width: 900px;

// Typography

html {
    font-family: $font-paragraphs;
    background: rgb(55,255,197);
    background: linear-gradient(135deg, rgba(55,255,197,1) 0%, rgba(53,192,255,1) 65%, rgba(0,144,255,1) 100%); 
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: $font-headings;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h2 {
    color: $theme-primary;
}

h3 {
    color: $theme-primary;
}

// Layout

body {
    margin: 0;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.terminal {
    background-color: #051712;
    color: white;
    font-family: "IBM Plex Mono";
    font-size: 12px;
    border-radius: 8px;
    padding:4px 4px 4px 8px;
    width: 600px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word; 
    @include BoxShadow(9)
}

.ascii {
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    margin: 0;
    font-size: min(14px, 2vw);
    @include Rainbow(10s);
    text-align:center;
    line-height: min(14px,2vw);
}

.terminal__bar {
    margin: -4px -4px -4px -8px;
    background-color: #E4E3E6;
    display: flex;
    padding: 4px;
    justify-content: flex-end;
}

.terminal__circle {
    height: 16px;
    width: 16px;
    display: block;
    border-radius: 50%;
    margin-left: 4px;

    &--green {
        @extend .terminal__circle;
        background-color: #2FE601;
    }

    &--yellow {
        @extend .terminal__circle;
        background-color: #FFFB00;
    }

    &--red {
        @extend .terminal__circle;
        background-color: #E60800;
    }

}

.self-card {
    padding: 1rem;
    background-color: white;
    max-width: $main-width;
    display: block;
    margin: auto;
    @include BoxShadow(3);
    margin-top: -64px;
    box-sizing: border-box;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-family: $font-headings;
    background: white;
    color: $theme-primary;
    border: 1px solid $theme-primary;
    border-radius: $curviness / 4;
    text-transform: capitalize;
}

button:hover {
    opacity: 0.7;
}

.resume-button {
    display: block;
    margin: auto;
    text-align: center;
}

//Project Boxes

.project {
    border: 1px solid $theme-primary;
    border-radius: $curviness / 2;
    padding: 8px 8px 8px 8px;
    flex: 1 0 275px;
    margin: 5px 5px;
    @include BoxShadow(9)
}

.project-image {
    margin: auto;
    display: block;
    align-items: center;
    overflow: hidden;
    border-radius: $curviness / 4;
}

.project-name {
    margin: 8px;
    text-align: center;
}

.project-description {
    margin: 8px 8px;
}

.project-link {
    display: block;
    margin: auto;
    text-align: center;
}

//Other stuff

.headshot {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 33%;
}

//Socials

footer{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 16px;
}

.social {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0px 5px;
    border-radius: 50%;
    color: white;

    &:hover {
        opacity: 0.8;
    }
}

/*
@media screen and (min-width: 330px) {
    .ascii {
        font-size: 10px;
    }
}

@media screen and (min-width: 400px){
    .ascii {
        font-size: 12px;
    }
}

@media screen and (min-width: $main-width){
    .self-card {
        border-radius: $curviness;
    }
}*/