<footer>
	<!--p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p-->
	<a href="https://www.instagram.com/blabel3/" aria-label="Instagram">
		{{ partial "fontawesome.html" "instagram" }}
	</a>
	<a href="https://www.linkedin.com/in/blabel3/" aria-label="LinkedIn">
		{{ partial "fontawesome.html" "linkedin" }}
	</a>
	<a href="https://www.github.com/blabel3/" aria-label="Github">
		{{ partial "fontawesome.html" "github" }}
	</a>
	<a href="https://www.twitter.com/blabel3/" aria-label="Twitter">
		{{ partial "fontawesome.html" "twitter" }}
	</a>
</footer>
