{{ define "main" }}

	<section class="hero">
		<div class="terminal">
			<div class="terminal__bar">
				<span class="terminal__circle--green"></span>
				<span class="terminal__circle--yellow"></span>
				<span class="terminal__circle--red"></span>
			</div>
			<p>blabel@website:~$ ./welcome &</p>

			<p class="ascii">@@@@@@@\  @@\           @@\                 @@\ </p>
			<p class="ascii">@@  __@@\ @@ |          @@ |                @@ |</p>
			<p class="ascii">@@ |  @@ |@@ | @@@@@@\  @@@@@@@\   @@@@@@\  @@ |</p>
			<p class="ascii">@@@@@@@\ |@@ | \____@@\ @@  __@@\ @@  __@@\ @@ |</p>
			<p class="ascii">@@  __@@\ @@ | @@@@@@@ |@@ |  @@ |@@@@@@@@ |@@ |</p>
			<p class="ascii">@@ |  @@ |@@ |@@  __@@ |@@ |  @@ |@@   ____|@@ |</p>
			<p class="ascii">@@@@@@@  |@@ |\@@@@@@@ |@@@@@@@  |\@@@@@@@\ @@ |</p>
			<p class="ascii">\_______/ \__| \_______|\_______/  \_______|\__|</p>

			<p>blabel@website:~$ cat introduction.txt</p>

			<p class="introduction">Hi, I'm Blake. I'm a software developer currently studying at Boston University. 
				When I'm not coding, you might be able to catch me on my radio show on WTBU. Thanks for visiting my site!  </p>
			
		</div>
	</section>

	<main class="main-card--hero">

		{{- $headshot := resources.Get (print "images/" "headshot.jpg") -}}
		<picture>
			<source srcset="{{ ($headshot.Resize "150x webp picture").RelPermalink }}" type="image/webp">
			<img class="headshot" width="150" height="150" src="{{ ($headshot.Resize "150x").RelPermalink }}" alt="headshot">
		</picture>	  
				
		<h1>Projects</h1>

		<p>Here are all the projects I've been working on recently.</p>

		<button class="button--resume">
			<a href="https://github.com/blabel3/Resume/raw/master/resume.pdf">
				{{ partial "fontawesome.html" "download" }}
				Download My Resume
			</a>
		</button>

		{{ with .Resources.ByType "image" }}
		{{ range . }}
		{{ .RelPermalink }}
		{{ end }}
		{{ end }}

		<section class="projects-container">
		{{ range (where .Site.RegularPages "Section" "projects") }}
		<div class="project">
			{{ partial "picture" (dict "filename" .Params.image)}}
			<div class="project-text">
				<h2 class="project-text__title text-center"><a class="project-text__link" href="{{ .RelPermalink}}">{{ .Title }}</a></h2>
				<h3 class="text-center">View the 
					<a href="{{ .Params.repo }}" class="project-text__link">
						Code {{ partial "fontawesome.html" "github" }}
				</a></h3>
				<p>{{ .Description }}</p>
			</div>
		</div>
		{{ end }}
		</section>
						
		<h1>Talk to me</h1>
		
		<p>You can <a href="mailto:blakeabel@blabel.dev">email me</a> to get in touch with me directly, 
		or you can <a href="https://sibforms.com/serve/MUIEAPOrc_TY1IOTTtSkr2pW_mEOquJrIDOKr77ShlY3SnGr5X4aPoST1lEW8JPqSQSi6UbTMpX2N-N2Siv4Ng5NX1ZkfzI2gQ8WD8bRhUM6rZrQ7uvTDvUykre-z_ErnV7fwNHEvN_QIC9Lh919QCKp_DDnrMi1NZ-_b9nKQJkcfYD2E2FU_V5Y5MkgEjERifrhaFiGTmgO21fS">subscribe to my newsletter</a>
		to get notified whenever I make something new.</p>

	</main>

{{ end }}
