{{ define "main" }}
	<main>

		<section class="hero">
			<div class="terminal">
				<div class="terminal__bar">
					<span class="terminal__circle--green"></span>
					<span class="terminal__circle--yellow"></span>
					<span class="terminal__circle--red"></span>
				</div>
				<p>blabel@website:~$ ./welcome &</p>

				<p class="ascii">@@@@@@@\  @@\           @@\                 @@\ </p>
				<p class="ascii">@@  __@@\ @@ |          @@ |                @@ |</p>
				<p class="ascii">@@ |  @@ |@@ | @@@@@@\  @@@@@@@\   @@@@@@\  @@ |</p>
				<p class="ascii">@@@@@@@\ |@@ | \____@@\ @@  __@@\ @@  __@@\ @@ |</p>
				<p class="ascii">@@  __@@\ @@ | @@@@@@@ |@@ |  @@ |@@@@@@@@ |@@ |</p>
				<p class="ascii">@@ |  @@ |@@ |@@  __@@ |@@ |  @@ |@@   ____|@@ |</p>
				<p class="ascii">@@@@@@@  |@@ |\@@@@@@@ |@@@@@@@  |\@@@@@@@\ @@ |</p>
				<p class="ascii">\_______/ \__| \_______|\_______/  \_______|\__|</p>

				<p>blabel@website:~$ cat introduction.txt</p>

				<p class="introduction">Hi, I'm Blake. I'm a software developer currently studying at Boston University. 
					When I'm not coding, you might be able to catch me on my radio show on WTBU. Thanks for visiting my site!  </p>
				
			</div>
		</section>

		<!--TODO: Fix all the old stuff -->
		<section class="self-card">

			<picture>
				<source srcset="/img/headshot.webp" type="image/webp">
				<img class="headshot" src="/img/headshot.jpg" alt="headshot">
			</picture>		  
		  		  
			<h1>Projects</h1>

			<p>Here are all the projects I've been working on recently.</p>

			<button class="resume-button">
				<a href="https://gitlab.com/blabel3/resume/raw/master/resume.pdf?inline=false">
					<i class="fas fa-file-download"></i>
					Download My Resume
				</a>
			</button>

			<section class="projects-container">
			{{ range (where .Site.RegularPages "Section" "projects") }}
			<div class="project">
				{{ partial "picture" (dict "filename" .Params.image)}}
				<div class="project-text">
					<h2 class="project-text__title text-center">{{ .Title }}</h2>
					<h3 class="text-center">View the 
						<a href="{{ .Params.repo }}" class="project-text__link">
							<i aria-hidden="true" class="fab fa-github project-text__code-icon"></i>Code
					</a></h3>
					<p>{{ .Description }}</p>
				</div>
			</div>
			{{ end }}
			</section>
		  		  		  
			<h1>Talk to me</h1>
		  
			<p>You can <a href="mailto:blakeabel@blabel.dev">email me</a> to get in touch with me directly, 
			or you can <a href="https://sibforms.com/serve/MUIEAPOrc_TY1IOTTtSkr2pW_mEOquJrIDOKr77ShlY3SnGr5X4aPoST1lEW8JPqSQSi6UbTMpX2N-N2Siv4Ng5NX1ZkfzI2gQ8WD8bRhUM6rZrQ7uvTDvUykre-z_ErnV7fwNHEvN_QIC9Lh919QCKp_DDnrMi1NZ-_b9nKQJkcfYD2E2FU_V5Y5MkgEjERifrhaFiGTmgO21fS">subscribe to my newsletter</a>
			to get notified whenever I make something new.</p>

			</section>
	</main>
{{ end }}
