{{ define "main" }}
	<main>

		<section class="hero">
			<div class="terminal shake-crazy">
				<div class="terminal__bar">
					<span class="terminal__circle terminal__circle--green"></span>
					<span class="terminal__circle terminal__circle--yellow"></span>
					<span class="terminal__circle terminal__circle--red"></span>
				</div>
				<p>blabel@website:~$ ./welcome</p>
				<p class="ascii">██████╗&nbsp;██╗&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;█████╗&nbsp;██████╗&nbsp;███████╗██╗&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				<p class="ascii">██╔══██╗██║&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;██╔══██╗██╔══██╗██╔════╝██║&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				<p class="ascii">██████╔╝██║&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;███████║██████╔╝█████╗&nbsp;&nbsp;██║&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				<p class="ascii">██╔══██╗██║&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;██╔══██║██╔══██╗██╔══╝&nbsp;&nbsp;██║&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				<p class="ascii">██████╔╝███████╗██║&nbsp;&nbsp;██║██████╔╝███████╗███████╗</p>
				<p class="ascii">╚═════╝&nbsp;╚══════╝╚═╝&nbsp;&nbsp;╚═╝╚═════╝&nbsp;╚══════╝╚══════╝</p>
			</div>
		</section>

		<!--TODO: Fix all the old stuff -->
		<div class="self-card">

			<img class="headshot" src="assets/headshot.jpg" alt="headshot">
		  
			<h1> Hi, I'm Blake. </h1>
		  
			<div id="social-box" class="box-container"> 
			  <a href="https://www.instagram.com/blabel3/"><i class="fab social fa-instagram"></i></a>
			  <a href="https://www.linkedin.com/in/blabel3/"><i class="fab social fa-linkedin-in"></i></a>
			  <a href="https://www.github.com/blabel3/"><i class="fab social fa-github"></i></a>
			  <a href="https://www.twitter.com/blabel3/"><i class="fab social fa-twitter"></i></a>
			</div>
		  
			<h2>About Me</h2>
		  
			<p>I'm a software developer currently studying at Boston University.</p>
		  
			<div class="resume-button"><a href="https://gitlab.com/blabel3/resume/raw/master/resume.pdf?inline=false"><button> <i class="fas fa-file-download"></i> Download My Resume</button></a></div>
		  
			<h2>Projects</h2>
		  
			<p>Here are all the projects I've been working on recently, pulled from my GitLab account. </p>
		  
			<!--Second inner grid for projects-->
			<div id="project-box" class="box-container">
		  
			</div>
		  
			<h2>Blog</h2>
		  
			Check the rest of the blog posts here (blog site lol)
		  
			<h2>Talk to me</h2>
		  
			<p>You can <a href="mailto:blakeabel@blabel.dev">email me</a> to get in touch with me directly, 
			or you can <a href="https://sibforms.com/serve/MUIEAPOrc_TY1IOTTtSkr2pW_mEOquJrIDOKr77ShlY3SnGr5X4aPoST1lEW8JPqSQSi6UbTMpX2N-N2Siv4Ng5NX1ZkfzI2gQ8WD8bRhUM6rZrQ7uvTDvUykre-z_ErnV7fwNHEvN_QIC9Lh919QCKp_DDnrMi1NZ-_b9nKQJkcfYD2E2FU_V5Y5MkgEjERifrhaFiGTmgO21fS">subscribe to my newsletter</a>
			to get notified whenever I make something new.</p>
		  </div>
	</main>
{{ end }}
